In [5]:
import pandas as pd
import numpy as np
import matplotlib as plt

#Load in the data
minimum_wage_data = "Resources/Minimum Wage Data.csv"

minimum_wage_df = pd.read_csv(minimum_wage_data, encoding="ISO-8859-1")
minimum_wage_df

,Year,State,Table_Data,Footnote,High.Value,Low.Value,CPI.Average,High.2018,Low.2018
0,1968,Alabama,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
1,1968,Alaska,2.10,NaN,2.10000,2.10000,34.783333,15.12,15.12
2,1968,Arizona,18.72 - 26.40/wk(b),(b),0.66000,0.46800,34.783333,4.75,3.37
3,1968,Arkansas,1.25/day(b),(b),0.15625,0.15625,34.783333,1.12,1.12
4,1968,California,1.65(b),(b),1.65000,1.65000,34.783333,11.88,11.88
5,1968,Colorado,1.00 - 1.25(b),(b),1.25000,1.00000,34.783333,9.00,7.20
6,1968,Connecticut,1.40,NaN,1.40000,1.40000,34.783333,10.08,10.08
7,1968,Delaware,1.25,NaN,1.25000,1.25000,34.783333,9.00,9.00
8,1968,District of Columbia,1.25 - 1.40,NaN,1.40000,1.25000,34.783333,10.08,9.00
9,1968,Federal (FLSA),$1.15 & $1.60,NaN,1.60000,1.15000,34.783333,11.52,8.28
10,1968,Florida,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
11,1968,Georgia,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
12,1968,Guam,1.25,NaN,1.25000,1.25000,34.783333,9.00,9.00
13,1968,Hawaii,1.25,NaN,1.25000,1.25000,34.783333,9.00,9.00
14,1968,Idaho,1.15,NaN,1.15000,1.15000,34.783333,8.28,8.28
15,1968,Illinois,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
16,1968,Indiana,1.15,NaN,1.15000,1.15000,34.783333,8.28,8.28
17,1968,Iowa,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
18,1968,Kansas,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
19,1968,Kentucky,.65 - .75(b),(b),0.75000,0.65000,34.783333,5.40,4.68
20,1968,Louisiana,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
21,1968,Maine,1.40,NaN,1.40000,1.40000,34.783333,10.08,10.08
22,1968,Maryland,1.00 & 1.15,NaN,1.15000,1.00000,34.783333,8.28,7.20
23,1968,Massachusetts,1.60,NaN,1.60000,1.60000,34.783333,11.52,11.52
24,1968,Michigan,1.25,NaN,1.25000,1.25000,34.783333,9.00,9.00
25,1968,Minnesota,.70 - 1.15(b),(b),1.15000,0.70000,34.783333,8.28,5.04
26,1968,Mississippi,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
27,1968,Missouri,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
28,1968,Montana,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
29,1968,Nebraska,1.00,NaN,1.00000,1.00000,34.783333,7.20,7.20
...,...,...,...,...,...,...,...,...,...
2720,2017,Minnesota,7.75-9.50(g),(g),9.50000,7.75000,245.119583,9.70,7.92
2721,2017,Mississippi,...,NaN,0.00000,0.00000,245.119583,0.00,0.00
2722,2017,Missouri,7.70,NaN,7.70000,7.70000,245.119583,7.87,7.87
2723,2017,Montana,8.15(g),(g),8.15000,8.15000,245.119583,8.33,8.33
2724,2017,Nebraska,9.00[c],[c],9.00000,9.00000,245.119583,9.19,9.19
2725,2017,Nevada,7.25-8.25,NaN,8.25000,7.25000,245.119583,8.43,7.41
2726,2017,New Hampshire,7.25,NaN,7.25000,7.25000,245.119583,7.41,7.41
2727,2017,New Jersey,8.44,NaN,8.44000,8.44000,245.119583,8.62,8.62
2728,2017,New Mexico,7.50,NaN,7.50000,7.50000,245.119583,7.66,7.66
2729,2017,New York,9.70,NaN,9.70000,9.70000,245.119583,9.91,9.91
2730,2017,North Carolina,7.25,NaN,7.25000,7.25000,245.119583,7.41,7.41
2731,2017,North Dakota,7.25,NaN,7.25000,7.25000,245.119583,7.41,7.41
2732,2017,Ohio,8.15,NaN,8.15000,8.15000,245.119583,8.33,8.33
2733,2017,Oklahoma,2.00-7.25(g),(g),7.25000,2.00000,245.119583,7.41,2.04
2734,2017,Oregon,9.75,NaN,9.75000,9.75000,245.119583,9.96,9.96
2735,2017,Pennsylvania,7.25,NaN,7.25000,7.25000,245.119583,7.41,7.41
2736,2017,Puerto Rico,5.08-7.25(i),(i),7.25000,5.08000,245.119583,7.41,5.19
2737,2017,Rhode Island,9.60,NaN,9.60000,9.60000,245.119583,9.81,9.81
2738,2017,South Carolina,...,NaN,0.00000,0.00000,245.119583,0.00,0.00
2739,2017,South Dakota,8.65,NaN,8.65000,8.65000,245.119583,8.84,8.84
2740,2017,Tennessee,...,NaN,0.00000,0.00000,245.119583,0.00,0.00
2741,2017,Texas,7.25,NaN,7.25000,7.25000,245.119583,7.41,7.41
2742,2017,U.S. Virgin Islands,4.30-7.25(j),(j),7.25000,4.30000,245.119583,7.41,4.39
2743,2017,Utah,7.25,NaN,7.25000,7.25000,245.119583,7.41,7.41
2744,2017,Vermont,10.00(e),(e),10.00000,10.00000,245.119583,10.22,10.22
2745,2017,Virginia,7.25[c],[c],7.25000,7.25000,245.119583,7.41,7.41
2746,2017,Washington,11.00,NaN,11.00000,11.00000,245.119583,11.24,11.24
2747,2017,West Virginia,8.75,NaN,8.75000,8.75000,245.119583,8.94,8.94
2748,2017,Wisconsin,7.25,NaN,7.25000,7.25000,245.119583,7.41,7.41
2749,2017,Wyoming,5.15,NaN,5.15000,5.15000,245.119583,5.26,5.26