In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

#Load in the data
minimum_wage_data = "Resources/Minimum Wage Data.csv"


minimum_wage_df = pd.read_csv(minimum_wage_data, encoding="ISO-8859-1")
minimum_wage_df.head()

minimmum_wage_by_state = minimum_wage_df.groupby(["State", "Year"])
minimmum_wage_by_state.head()

,Year,State,Table_Data,Footnote,High.Value,Low.Value,CPI.Average,High.2018,Low.2018
0,1968,Alabama,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
1,1968,Alaska,2.10,NaN,2.10000,2.10000,34.783333,15.12,15.12
2,1968,Arizona,18.72 - 26.40/wk(b),(b),0.66000,0.46800,34.783333,4.75,3.37
3,1968,Arkansas,1.25/day(b),(b),0.15625,0.15625,34.783333,1.12,1.12
4,1968,California,1.65(b),(b),1.65000,1.65000,34.783333,11.88,11.88
5,1968,Colorado,1.00 - 1.25(b),(b),1.25000,1.00000,34.783333,9.00,7.20
6,1968,Connecticut,1.40,NaN,1.40000,1.40000,34.783333,10.08,10.08
7,1968,Delaware,1.25,NaN,1.25000,1.25000,34.783333,9.00,9.00
8,1968,District of Columbia,1.25 - 1.40,NaN,1.40000,1.25000,34.783333,10.08,9.00
9,1968,Federal (FLSA),$1.15 & $1.60,NaN,1.60000,1.15000,34.783333,11.52,8.28
10,1968,Florida,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
11,1968,Georgia,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
12,1968,Guam,1.25,NaN,1.25000,1.25000,34.783333,9.00,9.00
13,1968,Hawaii,1.25,NaN,1.25000,1.25000,34.783333,9.00,9.00
14,1968,Idaho,1.15,NaN,1.15000,1.15000,34.783333,8.28,8.28
15,1968,Illinois,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
16,1968,Indiana,1.15,NaN,1.15000,1.15000,34.783333,8.28,8.28
17,1968,Iowa,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
18,1968,Kansas,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
19,1968,Kentucky,.65 - .75(b),(b),0.75000,0.65000,34.783333,5.40,4.68
20,1968,Louisiana,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
21,1968,Maine,1.40,NaN,1.40000,1.40000,34.783333,10.08,10.08
22,1968,Maryland,1.00 & 1.15,NaN,1.15000,1.00000,34.783333,8.28,7.20
23,1968,Massachusetts,1.60,NaN,1.60000,1.60000,34.783333,11.52,11.52
24,1968,Michigan,1.25,NaN,1.25000,1.25000,34.783333,9.00,9.00
25,1968,Minnesota,.70 - 1.15(b),(b),1.15000,0.70000,34.783333,8.28,5.04
26,1968,Mississippi,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
27,1968,Missouri,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
28,1968,Montana,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
29,1968,Nebraska,1.00,NaN,1.00000,1.00000,34.783333,7.20,7.20
...,...,...,...,...,...,...,...,...,...
2720,2017,Minnesota,7.75-9.50(g),(g),9.50000,7.75000,245.119583,9.70,7.92
2721,2017,Mississippi,...,NaN,0.00000,0.00000,245.119583,0.00,0.00
2722,2017,Missouri,7.70,NaN,7.70000,7.70000,245.119583,7.87,7.87
2723,2017,Montana,8.15(g),(g),8.15000,8.15000,245.119583,8.33,8.33
2724,2017,Nebraska,9.00[c],[c],9.00000,9.00000,245.119583,9.19,9.19
2725,2017,Nevada,7.25-8.25,NaN,8.25000,7.25000,245.119583,8.43,7.41
2726,2017,New Hampshire,7.25,NaN,7.25000,7.25000,245.119583,7.41,7.41
2727,2017,New Jersey,8.44,NaN,8.44000,8.44000,245.119583,8.62,8.62
2728,2017,New Mexico,7.50,NaN,7.50000,7.50000,245.119583,7.66,7.66
2729,2017,New York,9.70,NaN,9.70000,9.70000,245.119583,9.91,9.91
2730,2017,North Carolina,7.25,NaN,7.25000,7.25000,245.119583,7.41,7.41
2731,2017,North Dakota,7.25,NaN,7.25000,7.25000,245.119583,7.41,7.41
2732,2017,Ohio,8.15,NaN,8.15000,8.15000,245.119583,8.33,8.33
2733,2017,Oklahoma,2.00-7.25(g),(g),7.25000,2.00000,245.119583,7.41,2.04
2734,2017,Oregon,9.75,NaN,9.75000,9.75000,245.119583,9.96,9.96
2735,2017,Pennsylvania,7.25,NaN,7.25000,7.25000,245.119583,7.41,7.41
2736,2017,Puerto Rico,5.08-7.25(i),(i),7.25000,5.08000,245.119583,7.41,5.19
2737,2017,Rhode Island,9.60,NaN,9.60000,9.60000,245.119583,9.81,9.81
2738,2017,South Carolina,...,NaN,0.00000,0.00000,245.119583,0.00,0.00
2739,2017,South Dakota,8.65,NaN,8.65000,8.65000,245.119583,8.84,8.84
2740,2017,Tennessee,...,NaN,0.00000,0.00000,245.119583,0.00,0.00
2741,2017,Texas,7.25,NaN,7.25000,7.25000,245.119583,7.41,7.41
2742,2017,U.S. Virgin Islands,4.30-7.25(j),(j),7.25000,4.30000,245.119583,7.41,4.39
2743,2017,Utah,7.25,NaN,7.25000,7.25000,245.119583,7.41,7.41
2744,2017,Vermont,10.00(e),(e),10.00000,10.00000,245.119583,10.22,10.22
2745,2017,Virginia,7.25[c],[c],7.25000,7.25000,245.119583,7.41,7.41
2746,2017,Washington,11.00,NaN,11.00000,11.00000,245.119583,11.24,11.24
2747,2017,West Virginia,8.75,NaN,8.75000,8.75000,245.119583,8.94,8.94
2748,2017,Wisconsin,7.25,NaN,7.25000,7.25000,245.119583,7.41,7.41
2749,2017,Wyoming,5.15,NaN,5.15000,5.15000,245.119583,5.26,5.26

In [2]:
# import cleaned unemployment data

unemployment_data = "Resources/clean_unemployment_data.csv"

unemployment_df = pd.read_csv(unemployment_data)
# unemployment_df

In [3]:
# filtered minimum wage data for years between 2009-2017
mw = minimum_wage_df.drop(["Table_Data", "Footnote"], 1)
cmw = mw[mw["Year"]>2008]
# cmw1 = cmw.groupby(["State", "Year"], as_index=False)
# cmw2 = cmw1.to_frame(name=None)
cmw.head()

,Year,State,High.Value,Low.Value,CPI.Average,High.2018,Low.2018
2255,2009,Alabama,0.00,0.00,214.537,0.00,0.00
2256,2009,Alaska,7.15,7.15,214.537,8.35,8.35
2257,2009,Arizona,7.25,7.25,214.537,8.46,8.46
2258,2009,Arkansas,6.25,6.25,214.537,7.29,7.29
2259,2009,California,8.00,8.00,214.537,9.34,9.34

In [16]:
Uemp_min_wage = pd.merge(unemployment_df, cmw, how="left", on=["Year", "State"])
type(Uemp_min_wage["Year"][0])
Uemp_min_wage

,State,Year,Avg UI,High.Value,Low.Value,CPI.Average,High.2018,Low.2018
0,Alabama,2009,9.8,0.00,0.00,214.537000,0.00,0.00
1,Alaska,2009,8.4,7.15,7.15,214.537000,8.35,8.35
2,Arizona,2009,8.5,7.25,7.25,214.537000,8.46,8.46
3,Arkansas,2009,7.0,6.25,6.25,214.537000,7.29,7.29
4,California,2009,11.6,8.00,8.00,214.537000,9.34,9.34
5,Colorado,2009,7.3,7.28,7.28,214.537000,8.50,8.50
6,Connecticut,2009,8.0,8.00,8.00,214.537000,9.34,9.34
7,Delaware,2009,8.1,7.15,7.15,214.537000,8.35,8.35
8,D.C.,2009,10.8,NaN,NaN,NaN,NaN,NaN
9,Florida,2009,10.4,7.21,7.21,214.537000,8.42,8.42
10,Georgia,2009,9.8,5.15,5.15,214.537000,6.01,6.01
11,Hawaii,2009,7.0,7.25,7.25,214.537000,8.46,8.46
12,Idaho,2009,8.1,6.55,6.55,214.537000,7.64,7.64
13,Illinois,2009,9.9,7.75,7.75,214.537000,9.05,9.05
14,Indiana,2009,9.9,6.55,6.55,214.537000,7.64,7.64
15,Iowa,2009,6.0,7.25,7.25,214.537000,8.46,8.46
16,Kansas,2009,6.6,2.65,2.65,214.537000,3.09,3.09
17,Kentucky,2009,10.4,6.55,6.55,214.537000,7.64,7.64
18,Louisiana,2009,6.7,0.00,0.00,214.537000,0.00,0.00
19,Maine,2009,8.2,7.25,7.25,214.537000,8.46,8.46
20,Maryland,2009,7.1,6.55,6.55,214.537000,7.64,7.64
21,Massachusetts,2009,8.5,8.00,8.00,214.537000,9.34,9.34
22,Michigan,2009,14.0,7.40,7.40,214.537000,8.64,8.64
23,Minnesota,2009,7.9,6.15,5.25,214.537000,7.18,6.13
24,Mississippi,2009,9.4,0.00,0.00,214.537000,0.00,0.00
25,Missouri,2009,9.0,7.05,7.05,214.537000,8.23,8.23
26,Montana,2009,6.3,6.90,4.00,214.537000,8.05,4.67
27,Nebraska,2009,4.7,6.55,6.55,214.537000,7.64,7.64
28,Nevada,2009,11.8,6.85,6.55,214.537000,8.00,7.64
29,New Hampshire,2009,6.5,7.25,7.25,214.537000,8.46,8.46
...,...,...,...,...,...,...,...,...
438,Michigan,2017,4.6,8.90,8.90,245.119583,9.09,9.09
439,Minnesota,2017,3.5,9.50,7.75,245.119583,9.70,7.92
440,Mississippi,2017,5.1,0.00,0.00,245.119583,0.00,0.00
441,Missouri,2017,3.7,7.70,7.70,245.119583,7.87,7.87
442,Montana,2017,4.0,8.15,8.15,245.119583,8.33,8.33
443,Nebraska,2017,2.9,9.00,9.00,245.119583,9.19,9.19
444,Nevada,2017,5.0,8.25,7.25,245.119583,8.43,7.41
445,New Hampshire,2017,2.7,7.25,7.25,245.119583,7.41,7.41
446,New Jersey,2017,4.6,8.44,8.44,245.119583,8.62,8.62
447,New Mexico,2017,6.2,7.50,7.50,245.119583,7.66,7.66
448,New York,2017,4.7,9.70,9.70,245.119583,9.91,9.91
449,North Carolina,2017,4.6,7.25,7.25,245.119583,7.41,7.41
450,North Dakota,2017,2.6,7.25,7.25,245.119583,7.41,7.41
451,Ohio,2017,5.0,8.15,8.15,245.119583,8.33,8.33
452,Oklahoma,2017,4.3,7.25,2.00,245.119583,7.41,2.04
453,Oregon,2017,4.1,9.75,9.75,245.119583,9.96,9.96
454,Pennsylvania,2017,4.9,7.25,7.25,245.119583,7.41,7.41
455,Rhode Island,2017,4.5,9.60,9.60,245.119583,9.81,9.81
456,South Carolina,2017,4.3,0.00,0.00,245.119583,0.00,0.00
457,South Dakota,2017,3.3,8.65,8.65,245.119583,8.84,8.84
458,Tennessee,2017,3.7,0.00,0.00,245.119583,0.00,0.00
459,Texas,2017,4.3,7.25,7.25,245.119583,7.41,7.41
460,Utah,2017,3.3,7.25,7.25,245.119583,7.41,7.41
461,Vermont,2017,3.0,10.00,10.00,245.119583,10.22,10.22
462,Virginia,2017,3.8,7.25,7.25,245.119583,7.41,7.41
463,Washington,2017,4.8,11.00,11.00,245.119583,11.24,11.24
464,West Virginia,2017,5.2,8.75,8.75,245.119583,8.94,8.94
465,Wisconsin,2017,3.3,7.25,7.25,245.119583,7.41,7.41
466,Wyoming,2017,4.2,5.15,5.15,245.119583,5.26,5.26
467,Puerto Rico,2017,10.9,7.25,5.08,245.119583,7.41,5.19

In [47]:
# crime_data = "Resources/crimetotal.csv"
# crime_df1 = crime_df.dropna()
# crime_df = pd.read_csv(crime_data)

In [50]:
# read in the crime data

crime_data = "Resources/crimetotal.csv"

crime_df = pd.read_csv(crime_data)
crime_df1 = crime_df.dropna()
crime_df1["Year"]=crime_df1['Year'].astype(int)
crime_df1



# type(crime_df["Year"][0])
cleaned = pd.merge(Uemp_min_wage, crime_df1, how="left", left_on=["Year","State"], right_on=["Year", "State"])

# cleaned_total_data = pd.concat([crime_df1, Uemp_min_wage],axis=1, sort=False)
# cleaned_tota crl_data
cleaned.head(50)

C:\Users\willi\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

,State,Year,Avg UI,High.Value,Low.Value,CPI.Average,High.2018,Low.2018,Unnamed: 0,Total Crime Rate
0,Alabama,2009,9.8,0.00,0.00,214.537,0.00,0.00,9.0,8460.9
1,Alaska,2009,8.4,7.15,7.15,214.537,8.35,8.35,24.0,7147.5
2,Arizona,2009,8.5,7.25,7.25,214.537,8.46,8.46,39.0,8031.0
3,Arkansas,2009,7.0,6.25,6.25,214.537,7.29,7.29,54.0,8581.8
4,California,2009,11.6,8.00,8.00,214.537,9.34,9.34,69.0,6408.7
5,Colorado,2009,7.3,7.28,7.28,214.537,8.50,8.50,84.0,6019.1
6,Connecticut,2009,8.0,8.00,8.00,214.537,9.34,9.34,99.0,5298.6
7,Delaware,2009,8.1,7.15,7.15,214.537,8.35,8.35,114.0,7998.3
8,D.C.,2009,10.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Florida,2009,10.4,7.21,7.21,214.537,8.42,8.42,144.0,8906.6
10,Georgia,2009,9.8,5.15,5.15,214.537,6.01,6.01,159.0,8201.3
11,Hawaii,2009,7.0,7.25,7.25,214.537,8.46,8.46,174.0,7885.6
12,Idaho,2009,8.1,6.55,6.55,214.537,7.64,7.64,189.0,4531.8
13,Illinois,2009,9.9,7.75,7.75,214.537,9.05,9.05,204.0,6468.2
14,Indiana,2009,9.9,6.55,6.55,214.537,7.64,7.64,219.0,6892.6
15,Iowa,2009,6.0,7.25,7.25,214.537,8.46,8.46,234.0,5224.0
16,Kansas,2009,6.6,2.65,2.65,214.537,3.09,3.09,249.0,7264.9
17,Kentucky,2009,10.4,6.55,6.55,214.537,7.64,7.64,264.0,5559.2
18,Louisiana,2009,6.7,0.00,0.00,214.537,0.00,0.00,279.0,8971.3
19,Maine,2009,8.2,7.25,7.25,214.537,8.46,8.46,294.0,5049.9
20,Maryland,2009,7.1,6.55,6.55,214.537,7.64,7.64,309.0,7576.9
21,Massachusetts,2009,8.5,8.00,8.00,214.537,9.34,9.34,324.0,5571.3
22,Michigan,2009,14.0,7.40,7.40,214.537,8.64,8.64,339.0,6697.1
23,Minnesota,2009,7.9,6.15,5.25,214.537,7.18,6.13,354.0,5778.8
24,Mississippi,2009,9.4,0.00,0.00,214.537,0.00,0.00,369.0,6489.1
25,Missouri,2009,9.0,7.05,7.05,214.537,8.23,8.23,384.0,7725.8
26,Montana,2009,6.3,6.90,4.00,214.537,8.05,4.67,399.0,5666.6
27,Nebraska,2009,4.7,6.55,6.55,214.537,7.64,7.64,414.0,6114.7
28,Nevada,2009,11.8,6.85,6.55,214.537,8.00,7.64,429.0,7537.8
29,New Hampshire,2009,6.5,7.25,7.25,214.537,8.46,8.46,444.0,4667.9
30,New Jersey,2009,9.0,7.15,7.15,214.537,8.35,8.35,459.0,4774.4
31,New Mexico,2009,6.8,7.50,7.50,214.537,8.75,8.75,474.0,8692.8
32,New York,2009,8.4,7.15,7.15,214.537,8.35,8.35,489.0,4632.6
33,North Carolina,2009,10.8,6.55,6.55,214.537,7.64,7.64,504.0,8136.9
34,North Dakota,2009,4.2,6.55,6.55,214.537,7.64,7.64,519.0,4494.4
35,Ohio,2009,10.3,7.30,7.30,214.537,8.52,8.52,534.0,7186.4
36,Oklahoma,2009,6.3,6.55,2.00,214.537,7.64,2.33,549.0,8186.0
37,Oregon,2009,11.5,8.40,8.40,214.537,9.80,9.80,564.0,6521.7
38,Pennsylvania,2009,8.2,7.15,7.15,214.537,8.35,8.35,579.0,5162.7
39,Puerto Rico,2009,15.0,4.10,4.10,214.537,4.79,4.79,NaN,NaN
40,Rhode Island,2009,12.0,7.40,7.40,214.537,8.64,8.64,594.0,5741.7
41,South Carolina,2009,11.7,0.00,0.00,214.537,0.00,0.00,609.0,9168.9
42,South Dakota,2009,4.8,6.55,6.55,214.537,7.64,7.64,624.0,3977.2
43,Tennessee,2009,10.2,0.00,0.00,214.537,0.00,0.00,639.0,8865.2
44,Texas,2009,7.5,6.55,6.55,214.537,7.64,7.64,654.0,9012.7
45,Utah,2009,5.7,6.55,6.55,214.537,7.64,7.64,669.0,7020.7
46,Vermont,2009,6.9,8.06,8.06,214.537,9.41,9.41,684.0,5097.4
47,Virginia,2009,6.7,6.55,6.55,214.537,7.64,7.64,699.0,5384.4
48,Washington,2009,9.1,8.55,8.55,214.537,9.98,9.98,714.0,8031.9
49,West Virginia,2009,8.0,7.25,7.25,214.537,8.46,8.46,729.0,5689.5